In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df=pd.read_csv(r'c:\Users\HP\Downloads\Social_Network_Ads.csv')

In [14]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [15]:
df.shape

(400, 5)

In [16]:
df.drop('User ID',axis=1,inplace=True)

In [27]:
df['Gender'].map({'Male':1,'female':0})

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
395   NaN
396   NaN
397   NaN
398   NaN
399   NaN
Name: Gender, Length: 400, dtype: float64

*Train test split*

In [28]:
from sklearn.model_selection import train_test_split
x=df.drop('Purchased',axis=1)
y=df['Purchased']

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.33,random_state=42)

*Applyling StandardScaler*

In [30]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [25]:
df['Gender'] = df['Gender'].map({'Male': 1, 'Female': 0})

In [31]:
x_train_scale=scaler.fit_transform(x_train)
x_test_scale=scaler.fit_transform(x_test)